---
import Layout from '../layouts/Layout.astro';
const pageTitle = "404";
---
<Layout pageTitle={pageTitle}>
    <div class="lost">
        <div class="gif">
            <img src="/images/404.webp" role="presentation" width="300" height="259" decoding="async">
        </div>
        <h1 class="lost__header">404</h1>
        <p class="lost__body">Looks like this page got lost in the cloud!</p>
        <p><a class="lost__link" href="/">Return Home</a></p>
    </div>
</Layout>
